<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :phone_number %>*<br>
  <%= f.telephone_field :phone_number, required: true, pattern: '^\d{10}$', placeholder: "Mobile Number", title: "format: xxxxxxxxxx" %>
  <p class="smalltext">(Please enter in the format: xxxxxxxxxx (no spaces, dashes, etc.))</p>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field" align="center">
  <%= f.label :avatar, "Upload Profile Pic" %><br>
  <%= f.file_field :avatar %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="field" align="center">
  <%= f.check_box :terms_read, required: true %>
  <%= f.label "I have read and agree to the"%>
  <%= link_to "Terms of Use and Terms of Service", general_terms_path, target: '_blank' %>
</div>

<div class="actions">
  <%= f.submit "Sign up", class: "btn btn-success" %>
</br>
</br>
</div>
