<% @users.each do |user| %>
  <% user_convos = user.conversations.where(coach_id: @coach.id) %>
    <% user_convos.each do |convo| %>
      <tr class="clickable-row" data-url="/conversations/<%= convo.id %>">
        <td class="title">
          <div class="msg">
          <% if user_convos.length >= 1 %>
            <%= link_to convo do %>
              <% if convo.messages.where("user_id = ?", convo.user_id).last != nil && convo.messages.where("user_id = ?", convo.user_id).last.read %>
                  <i class="status msg new"></i><span><i>No new  <br/>messages</i></span>
              <% elsif convo.messages.where("user_id = ?", convo.user_id).last != nil && convo.messages.where("user_id = ?", convo.user_id).last.read == false %>
                  <i class="status msg unread"></i><span><i>New Message</i></span>
              <% elsif convo.messages.count == 0 %>
                  <i class="status msg empty"></i><span><i>No messages</i></span>
              <% end %>
            <% end %>
          <% elsif user_convos.length == 0 %>
            <i class="status msg empty"></i><span><i>No messages</i></span>
          <% end %>
        <% end %>
      </div>
    </td>
    <td class="avatar">
      <% if !user.avatar.blank? %>
        <span class="badge"><img src="<%= user.avatar %>" alt="user avatar" style="width:75px;height:75px;" /></span>
      <% else %>
        <span class="badge"><img src="/assets/generic_avatar.jpg" alt="alt avatar" style="width:75px;height:75px;" /></span>
      <% end %>
    </td>
    <td class="details">
      <div class="name"><%= user.first_name %> <%= user.last_name %></div>

      <div class="details">
        <%= link_to 'View Profile', user %>
      </div>
    </td>
    <td>
      <% if user.conversations.length >= 1 && user.conversations.exists?(coach_id: @coach.id)%>
        <% user.conversations.each do |convo| %>
          <% if convo.coach_id == @coach.id %>
              <span><%= link_to 'View Conversation', convo%></span>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
