<h1 class="text-center">Coach <%= @other_user.first_name%></h1>


<div id="messages" class="conversation chat" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= @current_user_id %>">
  <%= render @conversation.messages.order('created_at ASC') %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'conversation_id', @conversation.id %>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: "Enter your message here" %>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
