<h1 class="text-center"><%= @other_user.email %></h1>


<div id="messages" class="conversation chat" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= @current_user_id %>">
  <%= render @conversation.messages.order('created_at ASC') %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'conversation_id', @conversation.id %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
