
<div class=" welcome ">
  <span id="mobileshow" class="three-coaches text-center"><h2><span class="tagline">Three Coaches, One Goal:</span> A Healthier You!</h2></span>
  <span id="desktopshow" class="three-coaches text-center"><h1>Three Coaches, One Goal: A Healthier You!<br/></h1></span>

  <%= image_tag "HS_Logo_B3_LO.jpg", class: "main-image"%>

  <div class="text-center tagline">

    <span id="desktopshow" class="text-center"><h2>Long-term behavioral coaching via mobile<br/></h2></span><br/>
    <div id="desktopshow" class="learn-more-button">
      <button class="btn sign-up-button"><%= link_to 'Sign Up Now', new_user_registration_path, class: "sign-up-text"%></button>
      <button class="btn sign-up-button"><%= link_to 'Sign In', new_user_session_path, class: "sign-up-text"%></button>
      <button class="btn sign-up-button"><a href="#next" class="sign-up-text">Learn More</a></button>
    </div>
    <span class="mobile_hide"><br/><br/></span>
    <div id="desktopshow">
      <a class="arrow-wrap" href="#next" style="opacity: 0.395792;">
      <span class="arrow"></span></a>
    </div>
  </div>
  <br>
  <div class="benefits-carousel ">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item active">
            <h2 class="text-center carousel-benefits">Lose Weight</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Build Confidence</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Reduce Blood Pressure</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Sleep Better</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Prevent Diabetes</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Increase Joy</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Exercise More</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Reach Goals</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Quit Smoking or other habits</h2>
        </div>
        <div class="item">
          <h2 class="text-center carousel-benefits">Make Better Choices</h2>
        </div>
      </div>
    </div>
  </div>
  <div id="mobileshow" class="learn-more-button text-center ">
    <button class="btn sign-up-button"><%= link_to 'Sign Up Now', new_user_registration_path, class: "sign-up-text"%></button>
    <button class="btn sign-up-button"><%= link_to 'Sign In', new_user_session_path, class: "sign-up-text"%></button>
    <div class="mobile-learn-more">
      <button class="btn sign-up-button"><a href="#next" class="sign-up-text">Learn More</a></button>
    </div>
  </div>
</div>
<span id="mobileshow" class="long-term text-center"><h2>Long-term behavioral coaching via mobile<br/></h2></span><br/>

<div class="next learn-more text-center">

  <div id="uno">
    <a name="next"></a>
    <h2 id="uno">What is MyHealthStyle?</h2>
  </div>
  <p>
    The MyHealthStyle App puts the power of personal Health Coaching
   in the palm of your hand and on your mobile device. <i class="fa fa-mobile" aria-hidden="true"></i></p>

  <p><i class="fa fa-balance-scale" aria-hidden="true"></i>
    Real credentialed professionals dedicated to mentoring you as you
   journey to your individual health goals.</p>

  <p>When you join you will be assigned a team of three HealthStyle
  Coaches who will guide you in a holistic yet accountable manner. <i class="fa fa-users" aria-hidden="true"></i></p>

  <p><i class="fa fa-user" aria-hidden="true"></i>
    Your Lead Coach with be in touch every day helping you
  with unwanted behaviors, while your two Team Coaches will
  each encourage you twice a week with specific issues.</p>

  <p>
    Using this proven approach and additional resources within our
  website, we create an uplifting environment of education and
  hope that enables our clients to thrive. <i class="fa fa-university" aria-hidden="true"></i></p>

  <p>
    Imagine finally attaining your health goals with long-term
   behavior modification right in your fingertips. <i class="fa fa-hand-o-up" aria-hidden="true"></i></p>

  <p><i class="fa fa-clipboard" aria-hidden="true"></i>
    It is this human-to-human contact, every day, with real
  credentialed Health Coaches that makes all the difference
  in reaching and maintaining your goals.</p>

  <p><i class="fa fa-female" aria-hidden="true"></i>
    Let the MyHealthStyle App make a difference for you. <i class="fa fa-male" aria-hidden="true"></i></p>
</div>
  <div class="col-md-4 col-md-offset-4" align="center">
    <%= image_tag "price_chart.jpg", class: "img-responsive"%>
  </div>
<script>
  window.intercomSettings = {
    app_id: "rznrsm2q"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rznrsm2q';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
