<div class="text-center">
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th class="text-center index-table-header">First name</th>
        <th class="text-center index-table-header">Last name</th>
        <th class="text-center index-table-header">Avatar</th>
        <th class="text-center index-table-header">Approved</th>
        <th class="text-center index-table-header">Admin</th>
        <th class="text-center index-table-header">Coach</th>
        <th class="text-center index-table-header">Email</th>
        <th class="text-center index-table-header">Expires</th>
        <th class="text-center index-table-header">Primary coach</th>
        <th class="text-center index-table-header">Secondary coach</th>
        <th class="text-center index-table-header">Tertiary coach</th>
        <th class="text-center index-table-header">Greeting</th>
        <th class="text-center index-table-header">Philosophy</th>
        <th class="index-table-header" colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="table-items"><%= user.first_name %></td>
          <td class="table-items"><%= user.last_name %></td>
          <% if user.avatar.exists? %>
            <td class="table-items"><%= image_tag user.avatar, id: "index-page-avatar", class: "img-responsive" %></td>
          <% else %>
            <td class="table-items"><%= image_tag 'generic_avatar.jpg', id: "index-page-avatar", class: "img-responsive" %></td>
          <% end %>
          <td class="table-items"><%= user.approved %></td>
          <td class="table-items"><%= user.is_admin %></td>
          <td class="table-items"><%= user.is_coach %></td>
          <td class="table-items"><%= user.email %></td>
          <td class="table-items">
            <% unless user.is_admin || user.is_coach %>
              <% if user.expires_at.present? %>
                <% u = user.expires_at %>
                <%= (u.today? ? u.time : u.date ) if u > DateTime.now %><strong><%= "Expired!" if u < DateTime.now %></strong>
              <% end %>
            <% end %>
          </td>
          <td class="table-items"><%= user.primary_coach %></td>
          <td class="table-items"><%= user.secondary_coach %></td>
          <td class="table-items"><%= user.tertiary_coach %></td>
          <td class="table-items"><%= user.greeting %></td>
          <td class="table-items"><%= user.philosophy %></td>
          <td class="table-items">
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>
