<div class="text-center">
  <p id="notice"><%= notice %></p>

  <% if @user.avatar %>
    <%= image_tag @user.avatar, id: "show-page-avatar", class: "img-responsive" %>
  <% end %>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>
  <% if current_user.is_admin %>
    <p>
      <strong>Avatar:</strong>
      <%= @user.avatar %>
    </p>
    <p>
      <strong>Approved:</strong>
      <%= @user.approved %>
    </p>

    <p>
      <strong>Is admin:</strong>
      <%= @user.is_admin %>
    </p>

    <p>
      <strong>Is coach:</strong>
      <%= @user.is_coach %>
    </p>

    <p>
      <strong>Phone Number:</strong>
      <%= @user.phone_number %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Primary coach:</strong>
      <%= @user.primary_coach %>
    </p>

    <p>
      <strong>Secondary coaches:</strong>
      <%= @user.secondary_coaches %>
    </p>
    <% if @user.is_coach %>
      <p>
        <strong>Greeting:</strong>
        <%= @user.greeting %>
      </p>

      <p>
        <strong>Philosophy:</strong>
        <%= @user.philosophy %>
      </p>
      <p>
        <strong>Approved:</strong>
        <%= @user.approved %>
      </p>
    <% end %>
    <p>
      <strong>Sign In Count:</strong>
      <%= @user.sign_in_count %>
    </p>
    <p>
      <strong>Last Sign In At:</strong>
      <%= @user.last_sign_in_at.strftime("%D %H:%M %P") unless @user.last_sign_in_at.nil? %>
    </p>
  <% end %>
  <% unless current_user.is_admin || current_user.is_coach %>
    <p>
      <strong>Philosophy:</strong>
      <%= @user.philosophy %>
    </p>
  <% end %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
