<h3 class="text-center">Click "My Team" at the top and get to know your coaches.</h3>
<p>
  <label class="plan">
    <span>Plan: <%= @plan %></span>
  </label>
</p>

<% if @coupon.present? %>
  <p>
    <label class="subtotal">
      <span>Subtotal: <%= number_to_currency(@amount * 0.01) %></span>
    </label>
  </p>
  <p>
    <label class="coupon">
      <span>Coupon: <%= @coupon.code %></span>
    </label>
  </p>
  <p>
    <label class="savings">
      <span>Savings: <%= number_to_currency(@discount_amount * 0.01) %></span>
    </label>
  </p>
  <% if @discount_percent %>
    <p>
      <label class="discount">
        <span>Discount: <%= @discount_percent %>%</span>
      </label>
    </p>
  <% end %>
<% end %>
<p>
  <label class="total">
    <span>Total: <%= number_to_currency(@final_amount * 0.01) %></span>
  </label>
</p>
