<h1 class="text-center">Sign Up Steps:</h1>
<h1 class="text-center"><strong>1 . . 2 . . 3</strong></h1>
<div class="text-center">
  <h3 class="flash-notice">
    <% flash.each do |type, msg| %>
     <%= content_tag :p, msg, class: type %>
    <% end %>
  </h3>
  <h3>Thanks for signing up! Your account was successfully created!</h3>

  <h3>Before we assign the coaches you selected, please choose a subscription plan:</h3>
  <h3>Our monthly plan is our most popular at under $2.50 a day.</h3>
  <h3>For the introductory $10 per week for a month coupon enter: <span class="coupon">Meet My Team</span></h3>
  <p>You may change or cancel your plan at any time.</p>
</div>

<% @plans.each do |plan| %>
  <%= form_tag subscriptions_create_path, method: :post do %>
    <div class="plan text-center">
      <h1><%= plan[:name] %></h1>
      <%= hidden_field_tag :amount, plan[:amount] %>
      <%= hidden_field_tag :plan, plan[:id] %>
      <%= hidden_field_tag :plan_interval, plan[:interval] %>
      <%= hidden_field_tag :interval_count, plan[:interval_count] %>

      <% if plan[:interval] == "week" %>
        <p>
          <%= label_tag(:couponCode, 'Coupon:') %>
          <%= text_field_tag(:couponCode) %>
        </p>
      <% end %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description= <%= plan[:name] %>
        data-amount= <%= plan[:amount] %>
        data-locale="auto"></script>
    </div>
  <% end %>
<% end %>
