<!DOCTYPE html>
<html>
  <head>
    <title>MyHealthStyleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Live, on demand health coaches affordably on mobile. Get the support you need to lose weight, fight diabetes and cancers, sleep better, quit smoking, be mindful!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="p:domain_verify" content="86506f23d5e55f6dbe1434256eb60afc"/>
  </head>

  <body class="healthstyle">
    <div  id="below-nav-bar" class="container-fluid content">
      <%= render 'layouts/nav_bar' %>
      <div class="col-sm-12" style="margin-top:40px;">
        <%= yield %>
      </div>
      <div class="text-center">
        <% if user_signed_in?%>
          <br \>
          <button class="btn sign-up-button"><%= link_to 'About Us', general_about_us_path, class: "sign-up-text" %></button>
        <% end %>
      </div>
    </div>
  </body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '545036969022775',
        xfbml      : true,
        version    : 'v2.7'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</html>
